.left-col{
  
}
.right-col{
    width: 100% !important;
}

.container-box{
    background-color: #f8f8f8;
    padding-top: 5px;

}
.Company-title{
    padding-bottom: 10px;
  
}
.Dashboard{
    padding-top: 10px;
    padding-bottom: 15px;
}
.Dashbaord-Items{
    padding-bottom: 20px;

}
.Dashbaord-Items:hover{
    color: blue;
}
.Concepts{

    padding-bottom: 15px;
    padding-top: -10px;

}
.point1{
    margin-left: 130px;
}
.point2{
    margin-left: 85px;
}
.point3{
    margin-left: 66px;
}
.point4{
    margin-left: 78px;
}
.point5{
    margin-left: 93px;
}
.point6{
    margin-left: 80px;
}
.Menu-icon:hover{color: blue;}
.Search-icon{

}
.left-icons{
    gap:-20px
}
.Cards{
    background-color: #f8f8f8;
}
.total-profit{
    padding-top: 20px;
    font-size: 25px;
}
.Card{
    border-radius: 20px;
}
.increament{
    color: rgb(55, 218, 55);
    padding-top: 5px;
}
.List{
    list-style: none;
}
.options{
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border:none
}
.Option{
    padding-bottom: 25px;
}
.basket-icon{
    border-radius: 100px !important;
    background-color: green;
}
.Dash-container{
    border-radius: 30px;
}
.options1{
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border:none
}
.count{

}
.total-items-dashboard{
    margin-top: 5px !important;
}



#MainHeader .left-col {
position: fixed;
 
  

}
#MainHeader .right-col{
  margin-left: 250px;
}





.progress-wrapper {
        position: relative;
        width: 80px;
        height: 80px;
    }

 .progress-wrapper   svg {
        transform: rotate(-90deg);
    }

    .bg {
        fill: none;
        stroke: #f8f8f879;
        stroke-width: 14;
      
    }

    .progress {
        fill: none;
        stroke: #3b82f6;
        stroke-width: 14;
        stroke-linecap: round;
        stroke-dasharray: 440;
        stroke-dashoffset: 110;
        transition: stroke-dashoffset 1s ease;
    }

  
    .progress-wrapper {
    transform: scale(0.5);
}
.percent {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    font-size: 32px;   /* you can change this safely */
    font-weight: 600;
    color: black;
    line-height: 1;
    pointer-events: none;
}
.percentage-circle{
    padding-bottom: 110px;
  
}
.Dashes{
gap:-100px
}











body{
    background-color: #f8f8f8;
}


